{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<div class="mrow">
  <div class="mcol c8">

    {{ .Render "summary" }}

    <div class="adj">
      <div class="mrow">
        {{ with .PrevInSection }}
        <div class="mcol c6">
          <header>Previous Episode</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
        {{ with .NextInSection }}
        <div class="mcol c6">
          <header>Next Episode</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
      </div>
    </div>

    {{ template "_internal/disqus.html" . }}
  </div>
  <div class="mcol c4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
