<article class="sn">

  <div class="thumb thumb-{{ .UniqueID }}"></div>

  <header class="article-header">
    <h1 class="title">{{ .Title }}</h1>

    <ul class="facts">
      <li><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></li>
      {{ with .Section }}<li><i class="fa fa-bookmark" aria-hidden="true"></i><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . | upper }}</a></li>{{ end }}
      {{ if eq (getenv "HUGO_ENV") "DEV" }}
      <li>{{ .WordCount }} Words</li>
      {{ if .IsDraft }}<li style="color: #2196f3;">DRAFT</li>{{ end }}
      {{ end }}
    </ul>

  </header>

  {{ if .Params.toc }}
  <div class="toc">
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="article-body">{{ .Content }}</div>

  <footer class="article-footer">

    {{ partial "share.html" . }}

    <section class="footer">
      <div>
        <nav class="crumb">
          <ol>
            <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i>HOME</a></li>
            {{ with .Section }}
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . | upper }}</span></a></li>
            {{ end }}
            <li class="active">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </section>

    {{ $params := .Params }}
    {{ range $key, $value := $.Site.Taxonomies }}
    {{ if isset $params $key }}
    <section class="footer">
      <header>
        <a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ $key | upper }}</a>
      </header>
      <div>
        <ul class="terms">
          {{ range (index $params $key) }}
          <li><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    {{ end }}
    {{ end }}
  </footer>

</article>
