<aside class="l-sidebar">

    {{ range $key, $value := .Site.Taxonomies }}
      <section class="sidebar">
        <header>{{ $key | upper }}</header>
        <div>
          <ul class="terms">
            {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}/">{{ .Name }}</a></li>{{ end }}
          </ul>
        </div>
      </section>
      {{ end }}
    </div>

  <div class="sections sidebar">
    <section class="sidebar">
      <header>LATEST EPISODES</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 6 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>

</aside>
